nav.navbar.navbar-expand-lg.navbar-dark.bg-info
  a.navbar-brand(href='/') Roque Noticias
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNavAltMarkup' aria-controls='navbarNavAltMarkup' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarNavAltMarkup.collapse.navbar-collapse
    .navbar-nav.ml-auto.p-2
      a.btn.btn-info(href='/agregar') Agregar noticias